
body {
  background-color: #FFA500;
  text-align: center;
}

h1 {
  font-family: 'Georgia', cursive;
  color: blue;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#doge-image img {
  height: 120px;
  margin-top: 20px;
}
